    .container {
        align-items : center;
    }
    .header {
        font-size: 15px;
        color: #c00000;
    }
    .button {
        flex: 1;
        flex-direction: row;
        height: 2em;
        margin-bottom: 1em;
        margin-right: 1em;
        background-color: #F3EEEE
    }
    .td {
        border: 1px solid black;
        font-size: 80%;
        font-weight: 300;
        text-align: center;
        padding: 1px;
        min-width: 150px;
        box-sizing: border-box;        
    }

    .th {
        border: 1px solid black;
        font-size: 80%;
        font-weight: 300;
        text-align: center;
        padding: 1px;
        min-width: 150px;
        box-sizing: border-box;        
    }

    .tableDiv {
        height: 25em;
        width: 100%;
        overflow: scroll;
        overflow-x: scroll;
        z-index: -1;        
    }
    .table {
        border-collapse: collapse;
    }

    .tableRow{
        height: 20px;
    }

    .containerDiv {
        overflow-x: hidden;     
        overflow-y: scroll;   
    }
    