    .container {
        align-items : center;
    }
    .header {
        font-size: 15px;
        color: #c00000;
    }
    .button {
        flex: 1;
        flex-direction: row;
        height: 2em;
        margin-bottom: 1em;
        margin-right: 1em;
        background-color: #F3EEEE
    }
    .td {
        border: 1px solid black;
        flex-direction: row;
        font-size: 80%;
        font-weight: 300;
        text-align: center;
        padding: 1px;
        width: 150px;
    }

    .th {
        border: 1px solid black;
        flex-direction: row;
        font-size: 90%;
        font-weight: 500;
        text-align: center;
        padding: 1px;
        width: 150px;
    }

    .tableDiv {
        height: 25em;
        width: 100%;
        overflow: auto;
        border: 1px solid grey;

    }
    .table {
        border-collapse: collapse;
    }

    .tableRow{
        height: 20px;
    }

    .dummyStyle {
        color: red;
    }