    .tablecontainer {
        width: 70%;
        /* background-color: greenyellow; */
    }
    
    .blotterinfocontainer {
        align-items : center;
        padding: 2px;
        margin-bottom: 10px;
    }

    .dragtobar{
        background-color: rgb(216, 207, 207);
        border: 1.5px dotted black;
        height: 27px;
        text-align: center;
        vertical-align: middle;
        font-size: 14px;
    }

    .gridContainerDiv {
        border: 1px solid grey;
        flex-wrap: wrap;
    }
    
    .header {
        font-size: 15px;
        color: #c00000;
    }

    .headerDiv {
        overflow-x: hidden;     
        overflow-y: scroll;
        background-color: #2C4C65;
    }

    .table {
        border-collapse: collapse;
    }

    .tableHeaderRow{
        height: 20px;
        text-align: center;
        cursor: pointer;        
    }

    th:hover {
        background-color: rgb(206, 77, 77);
        cursor: move;
    }


    .th {
        border: 1px solid black;
        font-size: 14px;
        font-weight: 300;
        /* text-align: center; */
        vertical-align: middle;
        padding: 1px;
        min-width: 120px;
        box-sizing: border-box;
        color: #E7E2E2;        
    }

    
    .tableDiv {
        height: 20em;
        overflow-y: scroll;
        overflow-x: auto;
    }

    .tableGridRow {
        border-collapse: collapse;
        min-height: 20px;
    }

    tr:hover {
        cursor: default;
    }

    .td {
        border: 1px solid grey;
        border-bottom: 0px;
        text-align: center;
        font-size: 80%;
        font-weight: 300;
        padding: 2px;
        min-width: 120px;
        box-sizing: border-box;
        -webkit-transition: background-color 2s;
        -moz-transition: background-color 2s;
        transition: background-color 2s;       
    }

    .leftAlignContentCells {
        align-content: left;
        align-items : left;
    }

    .button {
        background-color: #A72D2D;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 10px;
        padding: 5px;
        font-weight: 300;
        cursor: pointer;
        margin-left: 10px;
        float: right;
    }

    .label {
        font-size: 14px;
    }


    /* Graph */

    .graphcontainer{
        height:300px;
        background-color: #FCFCFC;
        padding-top: 100px;
    }

    .draggableDiv{
        height:30px;
        width:120px;
        background-color:#768CA5;
        border: 1px solid #98A8B8;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
        /* z-index: 1; */
    }

    .draggableDiv > div {
        vertical-align: middle;
        /* z-index: -1; */
        pointer-events: none;
    }

    .graphcontainer>div {
        font: 10px sans-serif;
        background-color: steelblue;
        text-align: right;
        padding: 3px;
        margin: 1px;
        color: white;
      }