    .appEnclosingDiv{
        position: absolute;
        width: 99vw;
        height: 90vh;
        background-color: rgb(226, 226, 226);
        padding: 5px;
    }
    
    .appContainer{
        display: flex;
        flex-direction: column;
        /* height: 57em; */
        height: 100%;
        background-color: white;
    }
    
    .gridAndChartContainer {
        /* max-height: 60%; */
        flex: 1;
        display: -webkit-flex;
        display: flex;
        /* border: 1px solid black; */
    }

    .graphAndObjectBrowserContainer{
        flex: 1;
        display: -webkit-flex;
        display: flex;
    }

    .tablecontainer {
        max-width: 70%;
        border: 1px solid rgb(150, 188, 211);
        border-collapse: collapse;        
    }
    
    .blotterinfocontainer {
        align-items : center;
        padding: 2px;
        margin-bottom: 10px;
        /* border: 0.5px solid grey; */
    }

    .dragtobar{
        background-color: rgb(255, 255, 255);
        border: 0.5px dotted black;
        height: 27px;
        text-align: center;
        vertical-align: middle;
        font-size: 14px;
    }

    .gridContainerDiv {
        /* border: 1px solid grey; */
        /* flex-wrap: wrap; */
        /* flex: 1; */
        display: flex;
        flex-direction: column; 
        /* flex: 0.2; */
        /* max-height: 100%; */
    }
    
    .header {
        font-size: 15px;
        color: #c00000;
    }

    .headerDiv {
        overflow-x: hidden;     
        overflow-y: scroll;
        /* background-color: #2C4C65; */
        background-color: rgb(48, 125, 212);
    }

    .table {
        border-collapse: collapse;
    }

    .tableHeaderRow{
        height: 20px;
        text-align: center;
        cursor: pointer;        
    }

    th:hover {
        background-color: rgb(206, 77, 77);
        cursor: move;
    }


    .th {
        border: 1px solid black;
        font-size: 14px;
        font-weight: 300;
        /* text-align: center; */
        vertical-align: middle;
        padding: 1px;
        min-width: 170px;
        box-sizing: border-box;
        color: white;   
    }

    
    .tableDiv {
        height: 21em;
        overflow-y: scroll;
        overflow-x: auto;
    }

    .tableDiv::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow : inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 1px;
        background-color: #F5F5F5;
    }
    
    .tableDiv::-webkit-scrollbar
    {
        width: 15px;
        height: 15px;
        background-color: #F5F5F5;
    }
    
    .tableDiv::-webkit-scrollbar-thumb
    {
        border-radius: 5px;
        /* -webkit-box-shadow: inset 10px 0 6px rgba(0,0,0,.3); */
        /* box-shadow: inset 10px 0 6px rgba(0,0,0,.3); */
        /* background-color: #a86161; */
        background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
                                       color-stop(0, #c5c8cc),
                                       color-stop(0.2, #95afcf),                                       
									   color-stop(0.50, #307dd4),
									   color-stop(0.75, #6b9cd4));
    }

    .headerDiv::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        box-shadow : inset 0 0 6px rgba(0,0,0,0.3);
        /* border-radius: 10px; */
        background-color: #F5F5F5;
        opacity: 0;
    }

    .headerDiv::-webkit-scrollbar
    {
        width: 15px;
        height: 15px;
        background-color: #F5F5F5;
    }
    
    .headerDiv::-webkit-scrollbar-thumb
    {
        /* border-radius: 5px; */
        /* -webkit-box-shadow: inset 10px 0 6px rgba(0,0,0,.3); */
        /* box-shadow: inset 10px 0 6px rgba(0,0,0,.3); */
        /* background-color: #a86161; */
        background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
    }


    .tableGridRow {
        border-collapse: collapse;
        height: 20px;
    }

    tr:hover {
        cursor: default;
    }

    .tableRow:hover {
        cursor: default;
    }

    .td {
        border: 1px solid grey;
        border-bottom: 0px;
        text-align: left;
        font-size: 80%;
        font-weight: 300;
        padding-left: 5px;
        /* padding-right: 5px; */
        min-width: 170px;
        box-sizing: border-box;
        outline-style: outset;
        outline-color : lightgray;
        outline-width : 1.3px;
        -webkit-transition: background-color 2s;
        -moz-transition: background-color 2s;
        transition: background-color 2s;       
    }

    .tdGroupedView {
        border: 1px solid grey;
        border-bottom: 0px;
        text-align: center;
        font-size: 100%;
        font-weight: bold;
        padding: 2px;
        min-width: 20px;
        box-sizing: border-box;
        outline-style: outset;
        outline-color : lightgray;
        outline-width : 1.3px; 
    }

    .leftAlignContentCells {
        align-content: left;
        align-items : left;
    }

    .button {
        background-color: #A72D2D;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 10px;
        padding: 5px;
        font-weight: 300;
        cursor: pointer;
        margin-left: 10px;
        float: right;
    }

    .label {
        font-size: 14px;
    }

    .chartContainer{
        width: 30%;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(150, 188, 211);
        display: flex;
        flex-direction: column;        
    }

    /* Graph */

    .graphContainer{
        width: 70%;
        background-color: #FFFFFF;        
        border: 1px solid rgb(150, 188, 211);        
        display: flex;
        flex-direction: column;
    }

    .dagreContainer {
        flex: 1;
    }

    .objectBrowserContainer{
        width: 30%;
        background-color: #ffffff;
        border: 1px solid rgb(150, 188, 211);
        display: flex;
        flex-direction: column;
    }

    .objectBrowser{
        overflow-y: auto;
        overflow-x: auto;
    }

    .ComponentTitle{
        /* border: 1px solid black; */
        background-color: #F0F3F5;
        color: #0C0101;
        font-family: Geneva, Tahoma, sans-serif;
        font-size: 14px;
        text-align: center;
    }

    svg:hover {
        /* background-color:#F0E7C0; */
        cursor: pointer;
    }
