    .container {
        align-items : center;
        padding: 2px;
        margin-bottom: 20px;
    }
    .header {
        font-size: 15px;
        color: #c00000;
    }
    .button {
        flex: 1;
        flex-direction: row;
        height: 2em;
        margin-bottom: 1em;
        margin-right: 1em;
        background-color: #F3EEEE
    }
    .td {
        border: 1px solid black;
        font-size: 80%;
        font-weight: 300;
        text-align: center;
        padding: 1px;
        min-width: 120px;
        box-sizing: border-box;

       
    }

    .th {
        border: 1px solid black;
        font-size: 90%;
        font-weight: 300;
        text-align: center;
        padding: 1px;
        min-width: 120px;
        box-sizing: border-box;
        color: #F7F7F7;        
    }

    .tableDiv {
        height: 40em;
        /* width: 100%; */
        overflow-y: scroll;
        overflow-x: auto;
        /* z-index: -1;         */
        /* box-sizing: border-box;         */
    }

    .tableDiv::-webkit-scrollbar * {
        background:transparent;
    }

    .tableDiv::-webkit-scrollbar * {
        width:40px;
    }

    .table {
        border-collapse: collapse;
    }

    .tableRow{
        height: 30px;
        /* background-color: yellow; */
    }

    .animateTableRow {
        height: 30px;        
        animation: example 1s;
        /* animation-iteration-count: infinite; */
    }

    .headerDiv {
        overflow-x: hidden;     
        overflow-y: scroll;
        background-color: #2C4C65;
    }
    
    .gridContainerDiv {
        border: 1px solid grey;
        flex-wrap: wrap;
    }

    @keyframes example {
        from {background-color: white;}
        to {background-color: yellow;}
    }